#home {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  main {
    display: flex;
    section {
      margin: auto;
      display: flex;
      flex-wrap: wrap;

      > div:first-child {
        display: flex;
        justify-content: center;
      }
      > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        ul{
          display: flex;
          align-items: center;
          gap: 1em;
        }
      }
    }
  }
  section ul{
    list-style-type: none;
    img {
      width: 50px;
      height: 50px;
    }
  }
  hr {
    border-color: $secondary;
  }
  p {
    font-size: 4.75em;
    line-height: 1.25;
    font-weight: bold;
  }
  .pic{
    width: 520px;
    height: 520px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  .pic {
    width: 300px !important;
    height: 300px !important;
  }
  main section p {
    font-size: 3em !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 750px) {
  .pic {
    width: 370px !important;
    height: 370px !important;
  }
}

@media screen and (max-width: 850px) {
  main section div {
    &:last-child img {
      width: 35px;
      height: 35px;
    }
  }
}

@media screen and (min-width: 751px) and (max-width: 850px) {
  main section div {
    .pic {
      width: 450px !important;
      height: 450px !important;
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 1024px) {
  p {
    font-size: 4em !important;
  }
}
@media screen and (max-width: 1240px) {
  main section {
    margin-top: 7vh !important;
    padding: 15% 5%;
    flex-direction: column;
    justify-content: center;

    > div:first-child {
      width: 100%;
    }
    > div:last-child {
      margin-top: 2rem;
      width: 100%;
      gap: 1rem;
      ul {
        justify-content: center;
      }
      p {
        text-align: center;
      }
    }
  }
}
@media screen and (min-width: 1240px) {
  main {
    height: 100vh;

    section > div {
      &:first-child {
        flex: 0 0 auto;
        width: 50%;
      }
      &:last-child {
        flex: 0 0 auto;
        width: 41%;
      }
    }
  }
}
