#home {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  main {
    display: flex;
    height: 100vh;
    section {
      margin: auto;
      display: flex;
      flex-wrap: wrap;

      > div:first-child {
        display: flex;
        justify-content: center;
        flex: 0 0 auto;
        width: 50%;
      }
      > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 auto;
        width: 41%;

        ul{
          display: flex;
          align-items: center;
          gap: 1em;
        }
      }
    }
  }
  section ul{
    list-style-type: none;
    img {
      width: 50px;
      height: 50px;
    }
  }
  hr {
    border-color: #00a2ff;
  }
  p {
    font-size: 4.75em;
    line-height: 1.25;
    font-weight: bold;
  }
  .pic{
    width: 520px;
    height: 520px;
    border-radius: 20px;
  }
}